.custom-footer {
  display: flex;
  justify-content: start;
  background-image:
    linear-gradient(to bottom, #000000 0%, transparent 30%),
    url("../../assets/footer.jpg");
  color: #fff;
}

.footer-socials {
  display: flex;
  justify-content: end;
  margin-right: 20px;
}

.footer-socials img {
  width: 40px;
  height: auto;
  filter: brightness(0) invert(1);
  opacity: 0.8;
  margin: 15px;
  object-fit: contain;
  transition: all 0.3s ease;
}

.footer-socials img:hover {
  transform: translateY(-7px);
}

.footer-logo img {
  width: 150px;
  height: auto;
  margin-top: 10px;
  filter: brightness(0) invert(1);
  opacity: 0.8;
  transition: all 0.7s ease;
}

.footer-logo img:hover {
  transform: rotate(360deg);
}

.copyright {
  margin-top: 70px;
  margin-left: -220px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 14px;
}

@media (max-width: 1000px) {
  .footer-logo {
    display: none;
  }
  .footer-socials {
    justify-content: center;
    align-items: center;
    margin-left: 100px;
    margin-top: -20px;
  }
  .copyright {
    margin-top: 100px;
  }
}
