.banner {
    background-color: #000;
    background-image: url('../../assets/bg.avif');
    background-size: cover;
    background-repeat: no-repeat;
    padding: 250px 0px;
}   

.banner h1 {
    color: antiquewhite;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 90px;
}

.banner p{
    color: rgb(184, 179, 171);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 15px;
    margin-left: 30px;
}

.cv-btn {
    background-color: transparent;
    border-radius: 12px;
    border: 2px solid rgba(21, 155, 185, 0.445);
    box-shadow: 0 4px 8px rgba(0, 208, 255, 0.492);
    color: #fff;
    margin-top: 20px;
    margin-left: 30px;
    margin-bottom: 20px;
}

.cv-btn img {
    width: 13px;
    height: auto;
    filter: invert(1);
    opacity: 0.8;
    margin: 10px;
    object-fit: contain;
}

.cv-btn:hover {
    background-color: rgba(255, 255, 255, 0.419);
    color: #000 !important;
    border-radius: 12px;
}

.cv-btn:hover img {
    filter: invert(0);
}

.profile-card {
    width: 340px;
    height: 510px;
    margin-top: -80px;
    margin-left: 200px;
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 40px;
    padding: 20px;
    padding-bottom: 0;
    box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.5);
    transition: all 0.4s ease;
}

.profile-card:hover {
    border-color: #65bded;
    transform: translateY(-5px);
    box-shadow: 0 30px 60px -12px rgba(101, 189, 237, 0.2);
}

.guy img {
    background-size: 150% 150%;
    width: 300px;
    height: auto;   
    transform: scaleX(-1);
}

@media (max-width: 1000px) {
    .profile-card {
        display: none;
    }
}