.contact {
  margin-top: 100px;
  background-color: #000;
  background-image:
    linear-gradient(to bottom, #000 0%, transparent 60%),
    linear-gradient(to top, #000 0%, transparent 5%),
    url("../../assets/bg.avif");
  background-size: cover;
  background-position: bottom;
  height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.contact h1 {
  color: rgb(246, 246, 246);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 40px;
}

.contact-form {
  width: 40%;
  height: 50%;
  margin: 50px auto;
}
.name-fields,
.contact-fields {
  display: flex;
  justify-content: space-between;
  margin: 20px 40px;
}

.contact-fields textarea {
  display: flex;
  width: 100%;
  height: 100px;
  padding-top: 10px;
}

.contact-form input,
textarea {
  background-color: #00000041;
  border: none;
  border: 1px solid #ffffff;
  border-radius: 10px;
  width: 45%;
  height: 50px;
  color: white;
  padding-left: 20px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.send-btn {
  margin: 20px 40px;
  background-color: transparent;
  color: white;
  border-radius: 10px;
  border: 1px solid #ffffff;
  width: 13vw;
  height: 50px;
}

::placeholder {
  color: white !important;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

@media (max-width: 768px) {
  .contact-form {
    width: 100%;
  }
  .send-btn {
    width: 40vw;
  }
}

.alert-dark {
  margin-top: 20px;
  background-color: #1a1a1a86;
  border: 1px solid #004f83;
  box-shadow: 0px -5px 30px 20px #0a4a8590;
  color: #fff;
  border-radius: 4px;
  font-family: monospace;
  margin-bottom: 20px;
}

.custom-checkbox-container {
  display: flex;
  align-items: center;
  margin: 20px 40px;
  gap: 12px;
}

.checkbox-wrapper *,
.checkbox-wrapper *::before,
.checkbox-wrapper *::after {
  box-sizing: border-box;
  transform: scale(0.8);
}

.checkbox-wrapper {
  display: block;
  width: 30px;
  height: 30px;
  cursor: pointer;
  margin-bottom: 0;
}

.checkbox-wrapper input {
  visibility: hidden;
  display: none;
}

.checkbox-wrapper input:checked ~ .checkbox-tile {
  transform: rotate(45deg);
  width: 12px;
  height: 22px;
  margin-left: 10px;
  border-color: #24c78e;
  border-top-color: transparent;
  border-left-color: transparent;
  border-radius: 0;
}

.checkbox-wrapper .checkbox-tile {
  display: block;
  width: inherit;
  height: inherit;
  border: 2px solid #ffffff;
  border-radius: 6px;
  transition: all 0.375s ease;
}

.news-label {
  color: rgb(186, 193, 198);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 18px;
  cursor: pointer;
  user-select: none;
}

.btn-close {
  filter: invert(1);
}
